.city-branch-dropdown {
  .dropdown-menu {
    position: absolute;
    max-height: 280px;
    overflow-y: auto;
    right: 0px;
    left: 0px;
  }

  .btn {
    width: 100%;
    color: white;
    border-color: #32a88d;
  }
  .btn:hover {
    background-color: #32a88d;
  }
}
